@media screen and (max-width: 1000px) {
    .searchFilters {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .applyFilters {
        font-size: 0.8em;
    }

    #textBoxForm {
        width: 60vw;
    }
    #textBoxButton {
        width: 20vw;
        font-size: 0.7em;
    }

}

@media screen and (min-width: 1001px) {
    #textBoxForm {
        width: 49vw;
    }
    #textBoxButton {
        font-size: 0.9em;
        width: 15vw;
    }
}

@media screen and (max-width: 1200px) {
    .applyFilters {
        font-size: 0.8em;
        padding-right: 2vw;
    }
}